* {
    font-size: 16px;
    margin: auto;
  }

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-shadow: 5px 10px 5px gold;
  color: gold !important;
}

a:visited {
  color: red;
}

a:active {
}
html {
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
  /* To change */
  background: rgba(0, 0, 0, 0.584)
}

header {
  border: 2.5px solid rgb(227, 12, 227);
  border-radius: 8px;
  display: inline-flex;
  box-shadow: 1.5px 2px 1.5px rgb(221, 134, 212);
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  width: 99.7%;
  height: 95px;
  background: black;
  position: fixed;
  top: 0;
}

#name {
  width: 50%;
  height: auto;
}

#web-extra {
  color: red;
  text-shadow: rgb(255, 0, 212) 5rem 5rem 5rem;
  text-align: end;
  width: 48%;
  height: auto;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 875;
  font-style: normal;
}

header ul {
  list-style-type: none;
}
header li {
  text-shadow: rgb(255, 0, 212) 20px 5px 25px;
  font-size: 1rem;
}
h1 {
    text-shadow: rgb(255, 0, 212) 5px 5px 50px;
    font-size: 3.75rem;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
  }

main {
  margin-top: 130px;
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
}

#me-container{
  width: 100%;
  display: inline-flex;
}

#description {
  display: inline-flex;
  margin-left: 103.5px;
  margin-right: 103.5px;
  margin-bottom: 25px;
  background-color: black;
  box-shadow: 1.5px 3px 1.5px rgb(221, 134, 212);
  border-radius: 5px;
}

#Me {
  width: 45%;
  font-size: 1.25rem;
  color: white;
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
  border-radius: 5px;
}

span {
  font-size: 1.75rem;
  padding-left: 230px;
}

/*main #picture {
}*/

main img {
  width: 90%;
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
}

#projects {
  width: 40%;
  padding: 20px;
  height: auto;
  background-color: rgba(4, 3, 3, 0.949);
  color: rgb(2, 242, 255);
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
  border-radius: 5px;
  margin-bottom: 25px;
  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#projects a {
  color: lime;
  font-size: 1.75rem;
}

#fortune {
  text-align: center;
}
#karma-help {
  text-align: center;
  margin-left: 30%;
  border: 5px solid green;
 }

#fortune, #karma-help {
  font-size: 1.75rem;
}

#message {
  color: rgb(250, 8, 8);
  font-size: 2.35rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.skills {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.998);
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
  border-radius: 5px;
  margin-left: 103.5px;
  margin-right: 103.5px;
  margin-bottom: 20px;
  text-align: center;
}
#icons img {
  width: 9%;
  height: 70px;
  margin: 5px;
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
}

#contact  {
  text-align: center;
  width: 1000px;
  background-color: rgba(28, 24, 32, 0.998);
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
  border-radius: 5px;
  color: white;
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
  margin-bottom: 25px;
}

input {
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
}

textarea {
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
}

#submit {
  border: 5px solid green;
}

footer {
  background-color: black;
  color: white;
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
  border-radius: 5px;
  text-align: center;
}

/* NUMBER GUESSER PAGE'S RULE SECTION */
main #number-guesser {
  text-align: center;
  margin-bottom: 20px;
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.round-label {
  display: flex;
  font-size: 3rem;
  width: 40%;
  color: lime;
}

.round-label #round-number {
  width: 9%;
  font-size: 4rem;
  color: lime;
}
.guess {
  min-width: 303px;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
  background-color: black !important;
  color: white;
  border-radius: 15px;
  box-shadow: 1.5px 3px 1.5px rgb(221, 134, 212);
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
}

.guessing-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.guess-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.guess-label {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  font-size: 2.75rem;
  width: 70%;
  color: rgb(255, 247, 0);
}

.score-label {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: lime;
}

.target-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.computer-guess {
  background-color: #ececec;
}

#computer-guess {
  font-size: 50px;
  font-weight: 700;
  color: #a5a5a5;
}

.human-guess {
  border-radius: 10px;
  text-shadow: rgb(227, 12, 227) 7px 5px 7px;
  box-shadow:  1.5px 3px 1.5px rgb(221, 134, 212);
}

.human-guess input {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.guess input {
  height: auto;
  width: auto;
  font-size: 30px;
  text-align: center;
}

.number-controls {
  font-size: 0;
}

.number-control {
  display: inline-block;
  box-shadow:rgb(221, 134, 212) 1.5px 3px 1.5px;
  margin: 2px;
  width: 45px;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  color: #f34cf3;
  cursor: pointer;
}
.number-control:active {
  box-shadow: 0px 0px 0px;
  margin-top: 8px;
  
}
.number-controls button[disabled] {
  color: #dfdfdf;
  cursor: default;
}

.left {
  border-bottom-left-radius: 22.5px;
}

.right {
  border-top-right-radius: 22.5px;
  border-left-width: 0px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: rgba(57, 71, 72, 0.94);
  color: #fff !important;
  cursor: pointer;
}

#guess {
  padding: 10px;
  width: 129px;
  height: auto;
  font-weight: 700;
  font-size: 1.01rem;
  border-radius: 15px;
  box-shadow:rgb(221, 134, 212) 1.5px 3px 1.5px;
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}
#guess:hover{
  background-color: rgba(138, 149, 150, 0.94);
}
#guess:active {
  box-shadow: 0px 0px 0px;
  margin-bottom: 6px;
  background-color: rgba(77, 80, 80, 0.94);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#next-round {
  width: 209px;
  height: 84px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 40%;
  margin-right: auto;
  margin-bottom: 60px;
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
}
  
.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
  border-radius: 5px;
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
}

.instructions {
  background-color: #ececec;
  width: 90%;
  border-radius: 5px;
  box-shadow: rgb(221, 134, 212) 1.5px 3px 1.5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.instruction {
  width: 180px;
  padding: 2px;
  text-align: center;
}

.instructions h3 {
  font-size: 14px;
}


.winning-text, .winning-text[disabled] {
  color: #ec3636;
  font-weight: 700;
}